/* Front-page Style - Contacts */
@import '../mixin';
.rs-cookware-contacts {
    position: relative;
    padding-top: 100px;
    &::after {
        content:'';
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #f5f5f1;
        z-index: -1;
    }
    &__row {
        @include row();
    }
    &__col {
        @include flex-width(50%);
    }
    &__info {
        background: linear-gradient(to bottom right, #cbcbb4, #848462 90%);
        height: 100%;
        border-radius: 15px;
        color: #ffffff;
        padding: 70px;
        margin-right: 40px;
        .block-title {
            h2 {
                color: #ffffff;
            }
            &__subtitle {
                span {
                    color: #ffffff;
                    &::before {
                        background-color: #ffffff;
                    }
                }
            }
        }
        p {
            line-height: 2;
            margin-bottom: 50px;
        }
        a {
            color: #ffffff;
            @include transition-all(.3);
            &:hover,
            &:focus {
                color: #5d5d42;
            }
        }
        &_item {
            display: flex;
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &_icon {
            width: 50px;
            .icon {
                font-size: 30px;
            }
        }
        &_link {
            span {
                &:nth-child(1) {
                    display: block;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
            a {
                font-size: 18px;
            }
        }
    }
    &__form {
        padding: 80px 0 90px;
        input,
        textarea {
            width: 100%;
            color: #838383;
            padding: 14px 18px;
            border: 1px solid #e6e6e6;
            border-radius: 25.5px;
            margin-bottom: 20px;
            outline: none;
            &::placeholder {
                color: #838383;
            }
        }
        &_row {
            @include row();
        }
        &_col {
            @include flex-width(50%);
            &:nth-child(1) {
                padding-right: 13px;
            }
            &:nth-child(2) {
                padding-left: 13px;
            }
        }
        &_agreement {
            display: flex;
            align-items: center;
            p {
                font-size: 9px;
                line-height: 1.2;
                margin-left: 20px;
            }
        }
    }
}
.container {
}
.block-title {
    // .block-title__subtitle
    &__subtitle {
    }
}
.icon {
}
.icon-phone-o {
}
.icon-email-o {
}
.icon-clock-o {
}
.btn {
}
.btn-cookware {
}
.icon-arrow-right {
}

/* Contacts - Breakpoints */
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 379px) {}
/* ./Contacts - Breakpoints */
/*-----*/
/* ./Front-page Style - Contacts */