/* Common Style - Header */
@import '../mixin';
.primary-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    &__item {
        &.sub-menu-parent {
            position: relative;
            &::after {
                font-family: "cookware";
                content: "\79";
                color: #ffffff;
                position: absolute;
                right: 0;
                top: calc(50% - 5px);
                font-size: 8px;
            }
            &:hover {
                .sub-menu {
                    visibility: visible;
                    opacity: 1;
                    -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                }
            }
        }
    }
    &__link {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding: 45px 0;
        margin: 0 15px;
        line-height: 1;
        cursor: pointer;
        &::before {
            content: '';
            // opacity: 0;
            height: 5px;
            width: 0;
            background-color: #cbcbbd;
            position: absolute;
            bottom: -3px;
            // right: 0;
            right: 50%;
            @include transition-all(.3);
        }
        &::after {
            content: '';
            // opacity: 0;
            height: 5px;
            width: 0;
            background-color: #cbcbbd;
            position: absolute;
            bottom: -3px;
            // left: 0;
            left: 50%;
            @include transition-all(.3);
        }
        &:hover,
        &:focus {
            color: #ffffff;
            &::before {
                // right: 50%;
                width: 50%;
            }
            &::after {
                // left: 50%;
                width: 50%;
            }
        }
    }
}
.sub-menu {
    list-style: none;
    width: 290px;
    white-space: nowrap;
    padding: 25px 0;
    position: absolute;
    top: calc(100% + 10px);
    left: -40px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    @include box-shadow(0,0,20,0,.1);
    &__item {
        padding: 0 40px;
    }
    &__link {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #1a1b1e;
        text-align: left;
        display: block;
        padding: 5px 0 5px 0;
        position: relative;
        text-decoration: none;
        outline: none;
        text-transform: none;
        @include transition-all(.3);
        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: -15px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background-color: #1a1b1e;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            visibility: hidden;
            opacity: 0;
            @include transition-all(.3);
        }
        &:hover {
            padding-left: 15px;
            color: initial;
            &::before {
                left: 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.rs-cookware-header {
    $self:&;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    &.menu-scroll {
        #{ $self }__top-menu {
            background-color: rgba(74,78,80,.9);
        }
        #{ $self }__main-nav {
            background-color: rgba(117,121,124,.9);
        }
    }
    &__top-menu {
        background-color: rgba(255,255,255,.14);
        @include transition-all(.3);
        &_nav {
            display: flex;
        }
        &_link {
            // display: block;
            position: relative;
            font-size: 13px;
            font-weight: 500;
            padding: 20px 0 18px;
            display: flex;
            align-items: center;
            line-height: 1;
            color: #ffffff;
            padding-right: 32px;
            @include transition-all(.3);
            &:hover {
                color: #cbcbbd;
            }
            .icon {
                color: #cbcbbd;
                margin-right: 7px;
            }
            &:first-of-type {
                margin-right: auto;
            }
            &:last-of-type {
                padding-left: 32px;
                padding-right: 0;
                &::before {
                    content: '';
                    height: 25px;
                    width: 1px;
                    background-color: #dddddd;
                    position: absolute;
                    left: 0;
                    top: calc(50% - 12.5px);
                }
            }
        }
    }
    &__menu {}
    &__main-nav {
        // background-color: black;
        border-bottom: 1px solid rgba(255,2552,255,.1);
        @include transition-all(.3);
        &_content {
            display: flex;
            justify-content: space-between;
        }
        &_logo {
            padding: 26px 0;
            img {
                height:54px;
            }
        }
        &_icons {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &_cart {
                position: relative;
                span {
                    position: absolute;
                    top: -12px;
                    left: -3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #cbcbbd;
                    height: 25px;
                    width: 25px;
                    border-radius: 100%;
                    color: #565954;
                    font-size: 12px;
                    font-weight: bold;
                    
                }
            }
            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                background-color: #ffffff;
                border-radius: 100%;
                color: #1a1b1e;
                overflow: hidden;
                border: 1px solid transparent;
                @include transition-all(.3);
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    opacity: 1;
                    -webkit-transform: translate(-105%,0);
                    transform: translate(-105%,0);
                    background-color: rgba(255,255,255,.9);
                }
                &:hover {
                    border-color: #1a1b1e;
                    &::before {
                        opacity: 0.1;
                        -webkit-transform: translate(0,0);
                        transform: translate(0,0);
                    }
                }
                &:first-of-type {
                    margin-right: 10px;
                }
                .icon {
                    font-size: 20px;
                }
            }
        }
    }
    &__search {
        display: none;
        position: absolute;
        top: 110%;
        right: 0;
        min-width: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        @include box-shadow(8px, 8px, 30px, 0, .3);
        @include transition-all(.3);
        // box-shadow: 8px 8px 30px 0 rgba(42,67,113,.15);
        &.view {
            display: flex;
            top: 100%;
        }
        &_input {
            padding: 0 48px 0 20px;
            height: 50px;
            line-height: 1;
            border-width: 1px;
            border-style: solid;
            border-color: #e6e6e6;
            background: #fff;
            border-radius: 23px;
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            outline: none;
        }
        &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 33px;
            right: 33px;
            height: 44px;
            width: 44px;
            border-radius: 100%;
            border: none;
            background-color: #cbcbbd;
            color: #ffffff;
            outline: none;
        }
    }
}
/*-----*/
/* Header - Breakpoints */
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 379px) {}
/* ./Header - Breakpoints */
/*-----*/
/* ./Common Style - Header */